*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false
*.yml linguist-detectable=true
*.yml linguist-language=YAML
*.scss linguist-detectable=true
*.scss linguist-language=CSS
