---
---

@import "{{ site.theme }}";
.page-header {
  padding: 1rem 6rem;
}
.page-header .btn {
  visibility: hidden;
  display: none;
}
.project-tagline {
  background-image: url('/assets/img/favicon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 256px;
  max-height: 256px;
  min-height: 64px;
  min-width: 64px;
  margin: 0 auto;
}
.site-footer {
  bottom: 0;
  position: absolute;
  left: 0;
  padding: 0 6rem;
  width: 100%;
  border-top: 1px solid #d0d0d0;
}
.site-footer .site-footer-credits {
  visibility: hidden;
  display: none;
}
