---
---

@import "{{ site.theme }}";
.page-header .btn {
  visibility: hidden;
}
.project-tagline {
  background-image: url('/assets/img/favicon.png');
  max-width: 256px;
  max-height: 256px;
}
.site-footer-credits {
  visibility: hidden;
}
